<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            Dating App
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @if (accountService.currentUser$ | async) {
            <ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
            </ng-container>
            }

            <li class="nav-item">
                <a class="nav-link" routerLink="/error" routerLinkActive="active">Errors</a>
            </li>
        </ul>

        @if ((accountService.currentUser$ | async); as user) {
        <ul class="navbar-nav">
            <li ngbDropdown class="nav-item dropdown">

                <button class="nav-link dropdown-toggle btn btn-link d-flex align-items-center gap-2" ngbDropdownToggle
                    type="button" style="text-decoration:none;">
                    <img [src]="user.photoUrl || 'assets/user.png'" alt="user photo" class="rounded-circle"
                        style="width:40px; height:40px; object-fit:cover;" />
                    <span>Welcome {{ user.username | titlecase }}</span>
                </button>

                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>

                    <div class="dropdown-divider"></div>

                    <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
                </div>

            </li>
        </ul>
        }

        @if (!(accountService.currentUser$ | async)) {
        <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input class="form-control me-2" name="username" [(ngModel)]="model.Username" type="text"
                placeholder="Username" />

            <input class="form-control me-2" name="password" [(ngModel)]="model.Password" type="password"
                placeholder="Password" />

            <button class="btn btn-success" type="submit">Login</button>
        </form>
        }

    </div>
</nav>