<nav class="navbar navbar-expand-lg navbar-dark app-nav sticky-top">
    <div class="container-fluid">

        <a class="navbar-brand app-brand" routerLink="/">
            <i class="fa fa-heart"></i>
            Dating App
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @if (accountService.currentUser$ | async) {
            <ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">
                        <i class="fa fa-user me-1"></i>Matches
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">
                        <i class="fa fa-heart me-1"></i>Lists
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">
                        <i class="fa fa-envelope me-1"></i>Messages
                    </a>
                </li>

                @if ((accountService.currentUser$ | async); as user) {
                @if (isAdmin(user)) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">
                        <i class="fa fa-cog me-1"></i>Admin
                    </a>
                </li>
                }
                }
            </ng-container>
            }
        </ul>

        @if ((accountService.currentUser$ | async); as user) {
        <ul class="navbar-nav">
            <li ngbDropdown class="nav-item dropdown">

                <button class="nav-link dropdown-toggle btn btn-link d-flex align-items-center gap-2" ngbDropdownToggle
                    type="button" style="text-decoration:none;">
                    <img [src]="user.photoUrl || 'assets/user.png'" alt="user photo" class="rounded-circle nav-avatar" />
                    <span>Welcome {{ user.knownAs }}</span>
                </button>

                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>

                    <div class="dropdown-divider"></div>

                    <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
                </div>

            </li>
        </ul>
        }

        @if (!(accountService.currentUser$ | async)) {
        <form #loginForm="ngForm" class="d-flex gap-2" (ngSubmit)="login()" autocomplete="off">
            <input class="form-control" name="username" [(ngModel)]="model.Username" type="text"
                placeholder="Username" />

            <input class="form-control" name="password" [(ngModel)]="model.Password" type="password"
                placeholder="Password" />

            <button class="btn btn-light fw-semibold" type="submit">Login</button>
        </form>
        }

    </div>
</nav>
